*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}
.container{
    width: 100%;
}

section{
    margin: 130px 230px 0px 230px;
}
/* header section styles started*/
.header{
    background-image: url(images/banner/banner3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0px;
    height: 808px;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

.text-box{
    text-align: right;
    margin-left: 845px;
    padding-top: 216px;
    margin-right: 230px;

}
.text-box h2{
    color: #ffffff;
    font-weight: 700;
    font-size: 65px;
}
.text-box p{
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 32px;
}
.btn-primary{
    border: none;
    border-radius: 5px;
    width: 160px;
    height: 64px;
    color: #005FAC;
    font-weight: 600;
    font-size: 20px;
}
/* header section styles ended*/
/* failures of previous year style started */
.failures-of-previous-year{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.section-texts{
    width: 416px;
}
.section-title{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-left: 50px;
}
.section-description-pera{
    margin-top: 24px;
    margin-bottom: 16px;
    margin-left: 50px;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}
.section-description{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-left: 50px;
    margin-bottom: 8px;
}
.section-description i{
    color: #16D887;
}
/* failures of previous year ended */
/* my achivement style started */
.my-achievement{
    text-align: center;
}
.achievment-left{
    display: flex;
    justify-content: space-between;
    
}
.achievment-right{
    display: flex;
    justify-content: space-between;
}
.my-achievement h2{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;
    margin-top: 40px;
}
.my-achievement h3{
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 16px;

}
.my-achievement img{
    width: 50px;
    height: 50px;
    justify-content: center;
}
.my-achievement p{
    margin-bottom: 0px;
}
.text-box-two{
    background-color: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    padding: 25px;
    margin: 10px;
}
/* my achivement style ended */
/* my plan section style started */
.my-plan-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.my-plan-section-title{
    text-align: center;
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;
}
.my-plan-sub-title{
    font-weight: 700;
    font-size: 30px;
    color: #151414;
}
.my-plan-sub-title-description{
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}
/* my plan section style ended */
/* call now section style started */
.call-now-title{
    padding-top: 60px;
    margin-left: 64px;
    margin-right: 617px;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 40px;
    width: 460px;
    color: #FFFFFF;
}
.call-now-section{
    background-image: url(images/gradient1.png) ,url(images/watch.png);
    background-position: center;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin-top: 130px;
}
.btn-secondary{
    border: none;
    border-radius: 5px;
    width: 160px;
    height: 64px;
    color: #005FAC;
    font-weight: 600;
    font-size: 20px;
    margin-left: 64px;
    margin-bottom: 167px;
}
/* call now section style ended */
/* footer style started */
footer{
    background-color: #151414;
    height: 577px;
}
.footer-section{
    display: flex;
    gap: 330px;
    padding: 130px 0px;
}
.footer-left{
    color: #FFFFFF;
}
.footer-right{
    color: #FFFFFF;
}
.footer-section a{
    text-decoration: none;
    margin-right: 15px;
}
.footer-left h3{
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 16px;
}
.footer-left p{
    font-weight: 400;
    font-size: 16px;
}
.footer-left-p1{
    margin-bottom: 24px;
}
.footer-left-p2{
    margin-bottom: 16px;
}
.footer-left-p3{
    margin-bottom: 32px;
}
.footer-right h3{
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 30px;
}
.footer-right input{
    margin-bottom: 16px;
    padding: 20px 160px 20px 20px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
}
.btn-subscribe{
    border: none;
    border-radius: 8px;
    width: 170px;
    height: 64px;
    color: #FFFFFF;
    background-color: #005FAC;
    font-weight: 600;
    font-size: 20px;
}
/* footer style ended */

